<%= render @chapter %>
<div>
  <%= link_to "Edit this chapter", edit_chapter_path(@chapter) %> |
  <%= link_to "Back to chapters", chapters_path %> |  <%= link_to "Lessons", chapter_lessons_path(@chapter) %>
</div>
